{% extends "baseMeta.html" %}

{% block head %}
<script type="module" lang="javascript">
  const getWeb3 = () =>
    new Promise((resolve, reject) => {
      // Wait for loading completion to avoid race conditions with web3 injection timing.
      window.addEventListener("load", async () => {
        // Modern dapp browsers...
        if (window.ethereum) {
          const web3 = new Web3(window.ethereum);
          try {
            // Request account access if needed
            await window.ethereum.enable();
            // Acccounts now exposed
            resolve(web3);
          } catch (error) {
            reject(error);
          }
        }
        // Legacy dapp browsers...
        else if (window.web3) {
          // Use Mist/MetaMask's provider.
          const web3 = window.web3;
          console.log("Injected web3 detected.");
          resolve(web3);
        }
        // Fallback to localhost; use dev console port by default...
        else {
          const provider = new Web3.providers.HttpProvider(
            "http://127.0.0.1:8545"
          );
          const web3 = new Web3(provider);
          console.log("No web3 instance injected, using Local web3.");
          resolve(web3);
        }
      });
    });

  $(document).ready(function() {
    // Get network provider and web3 instance.
    const web3 = getWeb3();

    const contractAddress = "{{contractAddress}}";
    const contractABI = JSON.parse('{{contractABI | safe}}');
  });
</script>

<title>Client Page</title>
{% endblock %}

{% block content %}
<h1>Admin Page</h1>
<p class="lead">Please use the form below to register/delete clients.</p>
<form action="#" method="post">
  <label class="form-label">Action</label>
  <select class="form-select" aria-label="Default select example" name="action">
    <option value="r">Register</option>
    <option value="d">Delete</option>
  </select>
  <div class="mb-3">
    <label for="addr" class="form-label">Client Address</label>
    <input type="text" class="form-control" name="addr">
  </div>
  <button type="submit" class="btn btn-primary btn-lg">Submit</button>
</form>
{% endblock %}
